<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="KOHL COIN is the first Kohlchan token running on the Polygon Network.">
	<link rel="shortcut icon" href="{% static 'kohl/img/favicon.png' %}">
	<title>KOHL - The first cabbage on Polygon.</title>
	<link rel="stylesheet" href="{% static 'kohl/css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'kohl/css/yellow.css' %}">
	<link rel="stylesheet" href="{% static 'kohl/css/thiccboi.css' %}">
</head>

<body>
	<div class="content-wrapper">
		<header class="wrapper bg-soft-primary">
			<nav class="navbar center-nav transparent navbar-expand-lg navbar-light">
				<div class="container flex-lg-row flex-nowrap align-items-center">
					<div class="navbar-brand w-100"><a href="index.html"><img src="{% static 'kohl/img/kohlcoin.gif' %}"
								srcset="{% static 'kohl/img/kohlcoin.gif' %}" alt="" style="width: 25%;" /></a></div>
					<div class="navbar-collapse offcanvas-nav">
						<div class="offcanvas-header d-lg-none d-xl-none">
							<a href="index.html"></a>
							<button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-nav-close"
								aria-label="Close"></button>
						</div>
						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link" href="#home">Home</a>
								<!--/.dropdown-menu -->
							</li>
							<li class="nav-item"><a class="nav-link" href="#service"> KOHL COIN explained</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="#tokenomics">Tokenomics</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="#roadmap">Roadmap</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="#how-to-buy">How to buy</a>
							</li>
						</ul>
						<!-- /.navbar-nav -->
					</div>
					<!-- /.navbar-collapse -->
					<div class="navbar-other w-100 d-flex ms-auto">
						<ul class="navbar-nav flex-row align-items-center ms-auto" data-sm-skip="true">
							<li class="nav-item"><a class="nav-link" data-toggle="offcanvas-info"><i
										class="uil uil-info-circle"></i></a></li>
							<li class="nav-item d-lg-none">
								<div class="navbar-hamburger"><button class="hamburger animate plain"
										data-toggle="offcanvas-nav"><span></span></button></div>
							</li>
						</ul>
						<!-- /.navbar-nav -->
					</div>
					<!-- /.navbar-other -->
				</div>
				<!-- /.container -->
			</nav>
			<!-- /.navbar -->
			<div class="offcanvas-info text-inverse">
				<button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-info-close"
					aria-label="Close"></button>
				<div class="mt-4 widget">
					<p>KOHL is the first imageboard token from Kohlchan and the first cabbage on the Polygon Network.</p>
				</div>
				<!-- /.widget -->
				<div class="widget">
					<h4 class="widget-title text-white mb-3">How to buy</h4>
					<ul class="list-unstyled">
						<li><a href="https://quickswap.exchange/#/swap?outputCurrency=0x03b29965dcb0b679f5c6c231cb6df3d283d9e120">Buy on QuickSwap</a></li>
					</ul>
				</div>
				<!-- /.widget -->
				<div class="widget">
					<h4 class="widget-title text-white mb-3">Learn More</h4>
					<ul class="list-unstyled">
						<li><a href="https://coinmarketcap.com/alexandria/en/article/what-is-polygon-matic">What is Polygon?</a></li>
						<li><a href="#service">Why KOHL?</a></li>
						<li><a href="#tokenomics">Tokenomics</a></li>
						<li><a href="#roadmap">Roadmap</a></li>
					</ul>
				</div>
				<!-- /.widget -->
				<div class="widget">
					</nav>
					<!-- /.social -->
				</div>
				<!-- /.widget -->
			</div>
			<!-- /.offcanvas-info -->
		</header>
		<!-- /header -->
		<section id="home" class="wrapper bg-gradient-primary">
			<div class="container pt-10 pt-md-14 pb-8 text-center">
				<div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
					<div class="col-lg-7">
						<figure><img class="w-auto" src="{% static 'kohl/img/favicon-big.png' %}" srcset="{% static 'kohl/img/favicon-big.png' %}" alt=""
								style="max-height: 400px" /></figure>
					</div>
					<!-- /column -->
					<div class="col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center text-lg-start">
						<h1 class="display-1 mb-5 mx-md-n5 mx-lg-0">The first cabbage on Polygon.</h1>
						<p class="lead fs-lg mb-7">KOHL is the first Kohlchan token as well as the first imageboard coin
							to launch on the super cheap Polygon network.</p>
						<span><a class="btn btn-primary rounded-pill me-2"
								href="https://app.sushi.com/swap?inputCurrency=0x155f0DD04424939368972f4e1838687d6a831151&outputCurrency=">Buy
								KOHL</a></span>
					</div>
					<!-- /column -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<!-- /section -->
		<section class="wrapper bg-light" id="service">
			<div class="container pt-14 pt-md-16 pb-10">
				<div class="row text-center">
					<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
						<h2 class="fs-16 text-uppercase text-muted mb-3">Why KOHL?</h2>
						<h3 class="display-4 mb-10 px-xl-10">We are a thriving community of international friends at Kohlchan,
							and we will use KOHL to improve imageboard experience across the most popular boards!
						</h3>
					</div>
					<!-- /column -->
				</div>
				<!-- /.row -->
				<div class="position-relative">
					<div class="shape rounded-circle bg-soft-blue rellax w-16 h-16" data-rellax-speed="1"
						style="bottom: -0.5rem; right: -2.2rem; z-index: 0;"></div>
					<div class="shape bg-dot primary rellax w-16 h-17" data-rellax-speed="1"
						style="top: -0.5rem; left: -2.5rem; z-index: 0;"></div>
					<div class="row gx-md-5 gy-5 text-center">
						<div class="col-md-6 col-xl-3">
							<div class="card shadow-lg">
								<div class="card-body">
									<img src="{% static 'kohl/img/speedometer.svg' %}"
										class="svg-inject icon-svg icon-svg-md text-yellow mb-3" alt="" />
									<h4>Scalability wins</h4>
									<p class="mb-2">We chose Polygon due to its supremacy in scalability and speed
										compared to L1 networks.
									</p>
									<a href="https://polygon.technology/" class="more hover link-yellow">Learn More</a>
								</div>
								<!--/.card-body -->
							</div>
							<!--/.card -->
						</div>
						<!--/column -->
						<div class="col-md-6 col-xl-3">
							<div class="card shadow-lg">
								<div class="card-body">
									<img src="{% static 'kohl/img/browser.svg' %}"
										class="svg-inject icon-svg icon-svg-md text-red mb-3" alt="" />
									<h4>Low Transaction fees</h4>
									<p class="mb-2">L2 solutions provide lower transaction fees, which are only fractions of a cent.
									</p>
									<a href="#tokenomics" class="more hover link-yellow">Learn More</a>
								</div>
								<!--/.card-body -->
							</div>
							<!--/.card -->
						</div>
						<!--/column -->
						<div class="col-md-6 col-xl-3">
							<div class="card shadow-lg">
								<div class="card-body">
									<img src="{% static 'kohl/img/chat-2.svg' %}"
										class="svg-inject icon-svg icon-svg-md text-green mb-3" alt="" />
									<h4>Community</h4>
									<p class="mb-2">We are a large and engaged community of international members on the greatest German imageboard - Kohlchan.
									</p>
									<a href="#tokenomics" class="more hover link-yellow">Learn More</a>
								</div>
								<!--/.card-body -->
							</div>
							<!--/.card -->
						</div>
						<!--/column -->
						<div class="col-md-6 col-xl-3">
							<div class="card shadow-lg">
								<div class="card-body">
									<img src="{% static 'kohl/img/megaphone.svg' %}"
										class="svg-inject icon-svg icon-svg-md text-blue mb-3" alt="" />
									<h4>Experts with Passion</h4>
									<p class="mb-2">Our team is comprised of experienced programmers and community
										handlers seeking success.
									</p>
									<a href="#roadmap" class="more hover link-yellow">Learn More</a>
								</div>
								<!--/.card-body -->
							</div>
							<!--/.card -->
						</div>
						<!--/column -->
					</div>
					<!--/.row -->
				</div>
				<!-- /.position-relative -->
			</div>
			<!-- /.container -->
		</section>
		<!-- /section -->
		<section class="wrapper bg-gradient-reverse-primary" id="tokenomics">
			<div class="container py-10 py-md-18">
				<div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
					<div class="col-lg-7 order-lg-2">
						<figure><img class="w-auto" src="{% static 'kohl/img/concept8.png' %}"
								srcset="src/img/concept/concept8@2x.png 2x" alt="" /></figure>
					</div>

					<div class="col-lg-7 order-lg-2">
						<figure><img class="w-auto" src="{% static 'kohl/img/greterkohl.png' %}"
								srcset="src/img/concept/concept8@2x.png 2x" alt="" /></figure>
					</div>
					<!--/column -->
					<div class="col-lg-5">
						<h2 class="fs-16 text-uppercase text-muted mb-3">Our Tokenomics</h2>
						<h3 class="display-4 mb-5">We have transparent tokenomics for everyone's benefit.</h3>
						<p class="mb-6">While plenty of projects have obscure tokenomics which are often confusing, we kept things simple. Zero Tax. Zero Fee.</p>
						<div class="row gy-3">
							<div class="col-xl-6">
								<ul class="icon-list bullet-bg bullet-soft-primary mb-0">
									<li><span><i class="uil uil-check"></i></span><span> Total Supply: 1
											Quadrillion.</span></li>
									<li><span><i class="uil uil-check"></i></span><span> Initial Liquidity Pool: 40%
											liquidity</span></li>
								</ul>
							</div>
							<!--/column -->
							<div class="col-xl-6">
								<ul class="icon-list bullet-bg bullet-soft-primary mb-0">
									<li><span><i class="uil uil-check"></i></span><span> Burning: nothing burned</span></li>
									<li><span><i class="uil uil-check"></i></span><span> Team Tokens: ZERO.</span></li>
								</ul>
							</div>
							<!--/column -->
							<div class="col-xl-12">
								<ul class="icon-list bullet-bg bullet-soft-primary mb-0">
									<li><span><i class="uil uil-check"></i></span><span> Distribution: Over 700 Trillion were given away to early adopters of the project
										in the very first threads at Kohlchan.net: <a href="https://kohlchan.net/archiv/res/9504.html#9504">thread #1</a>, <a href="https://kohlchan.net/archiv/res/9927.html#9927">thread #2</a> and <a href="https://kohlchan.net/archiv/res/10316.html#10316">thread #3</a>.
									</span></li>
								</ul>
							</div>
							<!--/column -->

							<div class="col-xl-12">
								<ul class="icon-list bullet-bg bullet-soft-primary mb-0">
									<li><span><i class="uil uil-check"></i></span><span> Environmental Plan: as one of our major goals is to support the planet, for every KOHL transaction, one tree will be planted in the German woodlands.
										This is also another reason we chose this network: Polygon has a Proof-of-Stake consensus, which means no mining - happy planet!
									</span></li>
								</ul>
							</div>
							<!--/column -->
						</div>
						<!--/.row -->
					</div>
					<!--/column -->
				</div>
				<!--/.row -->
			</div>
			<div class="container py-15 py-md-15">
				<div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
					<div class="col-lg-7">
						<div class="row gx-md-5 gy-5">
							<div class="col-md-6 col-xl-5 align-self-end">
								<div class="card shadow-lg">
									<div class="card-body">
										<blockquote class="icon mb-0">
											<p>“40% of the total supply was added to the Sushiswap liquidity pool along
												with 200 MATIC.”</p>
											<div class="blockquote-details">
												<div class="info p-0">
													<h5 class="mb-1">Liquidity</h5>
													<p class="mb-0">What about liquidity?</p>
												</div>
											</div>
										</blockquote>
									</div>
									<!--/.card-body -->
								</div>
								<!--/.card -->
							</div>
							<!--/column -->
							<div class="col-md-6 align-self-end">
								<div class="card shadow-lg">
									<div class="card-body">
										<blockquote class="icon mb-0">
											<p>“KOHL COIN was fairly distributed among many early adopters and buyers and already has over a hundred users.
												The supply is well spread and the major holder is the liquidity provider contract, making the token completely rug-proof.”</p>
											<div class="blockquote-details">
												<div class="info p-0">
													<h5 class="mb-1">Rug Pulls</h5>
													<p class="mb-0">Can a rug pull happen?</p>
												</div>
											</div>
										</blockquote>
									</div>
									<!--/.card-body -->
								</div>
								<!--/.card -->
							</div>
							<!--/column -->
							<div class="col-md-6 col-xl-5 offset-xl-1">
								<div class="card shadow-lg">
									<div class="card-body">
										<blockquote class="icon mb-0">
											<p>“Burning hurts the environment. For that reason, we have decided NOT to burn any coins.”</p>
											<div class="blockquote-details">
												<div class="info p-0">
													<h5 class="mb-1">Burning</h5>
													<p class="mb-0">Was there any burning?</p>
												</div>
											</div>
										</blockquote>
									</div>
									<!--/.card-body -->
								</div>
								<!--/.card -->
							</div>
							<!--/column -->
							<div class="col-md-6 align-self-start">
								<div class="card shadow-lg">
									<div class="card-body">
										<blockquote class="icon mb-0">
											<p>“There are 1,000,000,000,000,000 KOHL total supply with ZERO tax on
												buys or sells. A true fair launch.”</p>
											<div class="blockquote-details">
												<div class="info p-0">
													<h5 class="mb-1">Fees</h5>
													<p class="mb-0">Are there any fees?</p>
												</div>
											</div>
										</blockquote>
									</div>
									<!--/.card-body -->
								</div>
								<!--/.card -->
							</div>
							<!--/column -->
						</div>
						<!--/.row -->
					</div>
					<!--/column -->
					<div class="col-lg-5">
						<h2 class="fs-16 text-uppercase text-muted mb-3 mt-lg-n6">Our values</h2>
						<h3 class="display-4 mb-5">Zero fees. Zero tax. Zero team tokens.</h3>
						<p>Our intention is to show the way while we all have to walk to it together. There is no doubt:
							the more we are, the stronger we will be and the more projects can be examined and analyzed. We made the fundament with a zero tax policy.
						</p>
						<a href="https://polygonscan.com/address/0x03b29965dcb0b679f5c6c231cb6df3d283d9e120"
							class="btn btn-primary rounded-pill mt-3">See our Verified Contract</a>
					</div>
					<!--/column -->
				</div>
				<!--/.row -->
			</div>
			<!-- /.container -->
		</section>
		<!-- /section -->
		<section class="wrapper bg-light angled upper-start lower-end" id="roadmap">
			<div class="container py-14 pt-md-17 pb-md-15">
				<div class="row gx-md-8 gx-xl-12 gy-10 mb-14 mb-md-18 align-items-center">
					<div class="col-lg-6 order-lg-2">
						<div class="card shadow-lg me-lg-6">
							<div class="card-body p-6">
								<div class="d-flex flex-row">
									<div>
										<span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span
												class="number">01</span></span>
									</div>
									<div>
										<h4 class="mb-1">Initial Distribution and Website</h4>
										<p class="mb-0">We have successfully distributed the KOHL coin among over a hundred users by now, and we have rolled out this website
											to outline our goals for the project.</p>
									</div>
								</div>
							</div>
							<!--/.card-body -->
						</div>
						<!--/.card -->
						<div class="card shadow-lg ms-lg-13 mt-6">
							<div class="card-body p-6">
								<div class="d-flex flex-row">
									<div>
										<span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span
												class="number">02</span></span>
									</div>
									<div>
										<h4 class="mb-1">Coingecko and Coinmarketcap</h4>
										<p class="mb-0">We are applying for a listing on Coingecko and Coinmarketcap.
										</p>
									</div>
								</div>
							</div>
							<!--/.card-body -->
						</div>
						<!--/.card -->
						<div class="card shadow-lg mx-lg-6 mt-6">
							<div class="card-body p-6">
								<div class="d-flex flex-row">
									<div>
										<span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span
												class="number">03</span></span>
									</div>
									<div>
										<h4 class="mb-1">Marketing</h4>
										<p class="mb-0">We'll work with the largest imageboards around the world to spread KOHL and begin strong adoption campaigns.
										</p>
									</div>
								</div>
							</div>
							<!--/.card-body -->
						</div>
						<!--/.card -->
						<div class="card shadow-lg ms-lg-13 mt-6">
							<div class="card-body p-6">
								<div class="d-flex flex-row">
									<div>
										<span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span
												class="number">04</span></span>
									</div>
									<div>
										<h4 class="mb-1">KOHLCasino and Tip Bots</h4>
										<p class="mb-0">We are going to release the KOHLCasino, where our users will be able to bet their loved KOHLs
											like degenerate gamblers in dice rolls, Blackjack and Roulettes for chances to multiply their stacks.
											Also coming soon is our Tip Bot, which will enable users to tip KOHL to other users for their participation in serious imageboard
										discussions.</p>
									</div>
								</div>
							</div>
							
							<!--/.card-body -->

							
						</div>
					</div>
					<!--/column -->
					<div class="col-lg-6">
						<h2 class="fs-16 text-uppercase text-muted mb-3">Roadmap</h2>
						<h3 class="display-4 mb-5">Our plans for KOHL, the first imageboard coin</h3>
						<p>We are trying to build a successful and engaged community to enhance the imageboard experience universally,
							using the super cheap and environmentally friendly Polygon Network. Our team is comprised of experienced programmers and community handlers and
							motivated to see this project succeed.</p>
						<p class="mb-6">In order to do so, we will first apply for Coingecko and Coinmarketcap. Simultanesouly,
							we'll also start a marketing campaign.
							In the meanwhile, our devs will take care of the code to release the KOHL Casino and Tip Bot
							functionality. Cheers!</p>
						<a href="https://quickswap.exchange/#/swap?outputCurrency=0x03b29965dcb0b679f5c6c231cb6df3d283d9e120"
							class="btn btn-primary rounded-pill mb-0" style="display: block;">Buy KOHL on
							QuickSwap</a>
					</div>
					<!--/column -->
				</div>
				<!--/.row -->
				<div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center" id="how-to-buy">
					<div class="col-lg-7">
						<figure><img class="w-auto" src="{% static 'kohl/img/kohlwave.png' %}"
								srcset="{% static 'kohl/img/kohlwave.png' %}" alt="" /></figure>
					</div>
					<!--/column -->
					<div class="col-lg-5">
						<h2 class="fs-16 text-uppercase text-muted mb-3">How to buy KOHL Coin?</h2>
						<h3 class="display-4 mb-7">KOHL can be bought on QuickSwap. We explain how to connect to
							the Polygon Network.</h3>
						<div class="accordion accordion-wrapper" id="accordionExample">
							<div class="card plain accordion-item">
								<div class="card-header" id="headingOne">
									<button class="accordion-button" data-bs-toggle="collapse"
										data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										1. Visit polygonscan.com </button>
								</div>
								<!--/.card-header -->
								<div id="collapseOne" class="accordion-collapse collapse show"
									aria-labelledby="headingOne" data-bs-parent="#accordionExample">
									<div class="card-body">
										<p>It's simple: go to <a
												href="https://polygonscan.com/">https://polygonscan.com/</a></p>
									</div>
									<!--/.card-body -->
								</div>
								<!--/.accordion-collapse -->
							</div>
							<!--/.accordion-item -->
							<div class="card plain accordion-item">
								<div class="card-header" id="headingTwo">
									<button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
										aria-expanded="false" aria-controls="collapseTwo"> 2. Add the Polygon Network
									</button>
								</div>
								<!--/.card-header -->
								<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
									data-bs-parent="#accordionExample">
									<div class="card-body">
										<p>Scroll to the bottom of the page, click <b>Add Polygon Network</b> to
											connect your Metamask
											to the Mainnet RPC.</p>
									</div>
									<!--/.card-body -->
								</div>
								<!--/.accordion-collapse -->
							</div>
							<!--/.accordion-item -->
							<div class="card plain accordion-item">
								<div class="card-header" id="headingThree">
									<button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
										aria-expanded="false" aria-controls="collapseThree"> 3. Bridge the Networks
									</button>
								</div>
								<!--/.card-header -->
								<div id="collapseThree" class="accordion-collapse collapse"
									aria-labelledby="headingThree" data-bs-parent="#accordionExample">
									<div class="card-body">
										<p>Bridge your MATIC from <i>Ethereum Network</i> to <i>Polygon Network</i>
											using the link <a
												href="https://wallet.polygon.technology/">https://wallet.polygon.technology/</a></p>
									</div>
									<!--/.card-body -->
								</div>
								<!--/.accordion-collapse -->
							</div>
							<!--/.accordion-item -->
							<div class="card plain accordion-item">
								<div class="card-header" id="headingFour">
									<button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour"
										aria-expanded="false" aria-controls="collapseFour"> 4. Deposit MATIC
									</button>
								</div>
								<!--/.card-header -->
								<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
									data-bs-parent="#accordionExample">
									<div class="card-body">
										<p>You're almost there! Deposit MATIC from L1 into the bridge by confirming
											the transaction in your Metamask.</p>
									</div>
									<!--/.card-body -->
								</div>
								<!--/.accordion-collapse -->
							</div>
							<!--/.accordion-item -->
							<div class="card plain accordion-item">
								<div class="card-header" id="headingFive">
									<button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
										aria-expanded="false" aria-controls="collapseFive"> 5. Wait for Confirmation
									</button>
								</div>
								<!--/.card-header -->
								<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
									data-bs-parent="#accordionExample">
									<div class="card-body">
										<p>Wait for the transaction to confirm, switch to Polygon Network on your
											Metamask and your funds will be there when the L2 bridge transaction
											confirms!.</p>
									</div>
									<!--/.card-body -->
								</div>
								<!--/.accordion-collapse -->
							</div>
							<!--/.accordion-item -->
							<div class="card plain accordion-item">
								<div class="card-header" id="headingSix">
									<button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"
										aria-expanded="false" aria-controls="collapseSix"> Alternative: Withdraw from your exchange directly to Polygon!
									</button>
								</div>
								<!--/.card-header -->
								<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
									data-bs-parent="#accordionExample">
									<div class="card-body">
										<p>Some exchanges such as Binance allow users to withdraw MATIC directly to Polygon Mainnet.
											If you're on Binance, that's the simplest and fastest way. If you're not, try to find out if your exchange does Polygon withdrawals.
										</p>
									</div>
									<!--/.card-body -->
								</div>
								<!--/.accordion-collapse -->
							</div>
							<!--/.accordion-item -->
						</div>
						<!--/.accordion -->
						<a class="btn btn-primary me-2" href="https://quickswap.exchange/#/swap?outputCurrency=0x03b29965dcb0b679f5c6c231cb6df3d283d9e120" style="display: block;">Buy KOHL</a>
					</div>
					<!--/column -->
				</div>
				<!--/.row -->
			</div>
			<!-- /.container -->
		</section>
		<!-- /section -->
	</div>
	<!-- /.content-wrapper -->
	<footer class="bg-arbidoge text-inverse">
		<div class="container pt-15 pt-md-17 pb-13 pb-md-15">
			<div class="d-lg-flex flex-row align-items-lg-center">
				<h3 class="display-4 mb-6 mb-lg-0 pe-lg-20 pe-xl-22 pe-xxl-25 text-white">Join our community at kohlchan.net.</h3>
				<a href="https://kohlchan.net/int" class="btn btn-primary rounded-pill mb-0 text-nowrap">Visit Kohlchan.</a>
			</div>
			<!--/div -->
			<hr class="mt-11 mb-12" />
			<div class="row gy-6 gy-lg-0">
				
				<!-- /column -->
				<div class="col-md-4 col-lg-3">
					<div class="widget">
						<h4 class="widget-title text-white mb-3">Get in Touch</h4>
						<a href="https://kohlchan.net/int">Kohlchan.net/int</a><br />
					</div>
					<!-- /.widget -->
				</div>
				<!-- /column -->
				<div class="col-md-4 col-lg-3">
					<div class="widget">
						<h4 class="widget-title text-white mb-3">Learn More</h4>
						<ul class="list-unstyled mb-0">
							<li><a href="https://coinmarketcap.com/alexandria/en/article/what-is-polygon-matic">What is Polygon?</a></li>
							<li><a href="https://polygonscan.com/">Polygon Explorer</a></li>
							<li><a href="#how-to-buy">How to buy</a></li>
						</ul>
					</div>
					<!-- /.widget -->
				</div>
				<!-- /column -->
				<div class="col-md-4 col-lg-3">
					<div class="widget text-white">
						<p class="mb-4">© 2021 KOHL COIN. <br class="d-none d-lg-block" />All rights reserved.</p>
						<nav class="nav social social-white">
						</nav>
						<!-- /.social -->
					</div>
					<!-- /.widget -->
				</div>	
			</div>
			<!--/.row -->
		</div>
		<!-- /.container -->
	</footer>
	<div class="progress-wrap">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
		</svg>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous"></script>
	<script src="{% static 'kohl/js/plugins.js' %}"></script>
	<script src="{% static 'kohl/js/scripts.js' %}"></script>
</body>

</html>